.max-w-lg{
    margin-top: 50px;
    background-color: rgb(201, 226, 226);
}

button{
    color: black;
}   

.bg-image {
    background-image: url('C:\\Users\\saura\\Downloads\\mern-auth-main\\client\\books1.jpeg');
    background-size: cover;
    background-position: center;
  }
  